.searchBlock {
    width: 200px;
    margin: 0 auto;
    display: flex;
}


.article {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

#root {
    margin: 80px auto;
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#btn {
    margin-left: 20px;
    margin-top: 5px;
}

