* {
    margin: 0;
    padding: 0;
}

body {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1297b8+0,1297b8+3,1396b4+3,1196b5+3,1299b9+3,0f95b8+3,1297ba+3,1495b5+3,0e89a8+4,138ca7+4,138aa8+6,138ba4+6,118aa7+6,5defff+6,17ccdf+6,0cd0e0+6,13cce0+7,18cde2+7,12d0e0+7,16cfe3+7,1bd0e1+7,1fd0e4+8,21d0e3+8,36d6e6+9,46d8e7+10,4edae9+10,57dbe8+11,63dfeb+11,74e3ee+12,8ee6f0+13,92e9f3+14,a2ebf2+14,cbf4f8+16,e1f9fd+18,e7f9fb+18,ebfaff+18,f1fdfd+19,fafeff+20,fffdff+20,fdfcff+20,f9fffb+20,fffff8+20,fffcff+20,46c5ce+20,39c6d8+20,43c5d2+20,3abdcf+23,1c9eb8+30,1c9dba+30,199ab7+31,1798b7+32,1192b1+34,0f8aac+55,1086aa+61,0e84a8+62,0e84aa+64,0e82a7+65,0f80a8+71,0d7da5+74,0e7ea6+76,0c79a2+83,0e79a3+85,0b76a0+88,0c739e+100 */
    background: #1297b8; /* Old browsers */
    background: -moz-linear-gradient(top, #1297b8 0%, #1297b8 3%, #1396b4 3%, #1196b5 3%, #1299b9 3%, #0f95b8 3%, #1297ba 3%, #1495b5 3%, #0e89a8 4%, #138ca7 4%, #138aa8 6%, #138ba4 6%, #118aa7 6%, #5defff 6%, #17ccdf 6%, #0cd0e0 6%, #13cce0 7%, #18cde2 7%, #12d0e0 7%, #16cfe3 7%, #1bd0e1 7%, #1fd0e4 8%, #21d0e3 8%, #36d6e6 9%, #46d8e7 10%, #4edae9 10%, #57dbe8 11%, #63dfeb 11%, #74e3ee 12%, #8ee6f0 13%, #92e9f3 14%, #a2ebf2 14%, #cbf4f8 16%, #e1f9fd 18%, #e7f9fb 18%, #ebfaff 18%, #f1fdfd 19%, #fafeff 20%, #fffdff 20%, #fdfcff 20%, #f9fffb 20%, #fffff8 20%, #fffcff 20%, #46c5ce 20%, #39c6d8 20%, #43c5d2 20%, #3abdcf 23%, #1c9eb8 30%, #1c9dba 30%, #199ab7 31%, #1798b7 32%, #1192b1 34%, #0f8aac 55%, #1086aa 61%, #0e84a8 62%, #0e84aa 64%, #0e82a7 65%, #0f80a8 71%, #0d7da5 74%, #0e7ea6 76%, #0c79a2 83%, #0e79a3 85%, #0b76a0 88%, #0c739e 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #1297b8 0%, #1297b8 3%, #1396b4 3%, #1196b5 3%, #1299b9 3%, #0f95b8 3%, #1297ba 3%, #1495b5 3%, #0e89a8 4%, #138ca7 4%, #138aa8 6%, #138ba4 6%, #118aa7 6%, #5defff 6%, #17ccdf 6%, #0cd0e0 6%, #13cce0 7%, #18cde2 7%, #12d0e0 7%, #16cfe3 7%, #1bd0e1 7%, #1fd0e4 8%, #21d0e3 8%, #36d6e6 9%, #46d8e7 10%, #4edae9 10%, #57dbe8 11%, #63dfeb 11%, #74e3ee 12%, #8ee6f0 13%, #92e9f3 14%, #a2ebf2 14%, #cbf4f8 16%, #e1f9fd 18%, #e7f9fb 18%, #ebfaff 18%, #f1fdfd 19%, #fafeff 20%, #fffdff 20%, #fdfcff 20%, #f9fffb 20%, #fffff8 20%, #fffcff 20%, #46c5ce 20%, #39c6d8 20%, #43c5d2 20%, #3abdcf 23%, #1c9eb8 30%, #1c9dba 30%, #199ab7 31%, #1798b7 32%, #1192b1 34%, #0f8aac 55%, #1086aa 61%, #0e84a8 62%, #0e84aa 64%, #0e82a7 65%, #0f80a8 71%, #0d7da5 74%, #0e7ea6 76%, #0c79a2 83%, #0e79a3 85%, #0b76a0 88%, #0c739e 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #1297b8 0%, #1297b8 3%, #1396b4 3%, #1196b5 3%, #1299b9 3%, #0f95b8 3%, #1297ba 3%, #1495b5 3%, #0e89a8 4%, #138ca7 4%, #138aa8 6%, #138ba4 6%, #118aa7 6%, #5defff 6%, #17ccdf 6%, #0cd0e0 6%, #13cce0 7%, #18cde2 7%, #12d0e0 7%, #16cfe3 7%, #1bd0e1 7%, #1fd0e4 8%, #21d0e3 8%, #36d6e6 9%, #46d8e7 10%, #4edae9 10%, #57dbe8 11%, #63dfeb 11%, #74e3ee 12%, #8ee6f0 13%, #92e9f3 14%, #a2ebf2 14%, #cbf4f8 16%, #e1f9fd 18%, #e7f9fb 18%, #ebfaff 18%, #f1fdfd 19%, #fafeff 20%, #fffdff 20%, #fdfcff 20%, #f9fffb 20%, #fffff8 20%, #fffcff 20%, #46c5ce 20%, #39c6d8 20%, #43c5d2 20%, #3abdcf 23%, #1c9eb8 30%, #1c9dba 30%, #199ab7 31%, #1798b7 32%, #1192b1 34%, #0f8aac 55%, #1086aa 61%, #0e84a8 62%, #0e84aa 64%, #0e82a7 65%, #0f80a8 71%, #0d7da5 74%, #0e7ea6 76%, #0c79a2 83%, #0e79a3 85%, #0b76a0 88%, #0c739e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1297b8', endColorstr='#0c739e', GradientType=0); /* IE6-9 */

}
.wrapper {
    background-color: #ffffff;
    width: 1000px;
    height: 987px;
    margin: 0 auto;
    margin-top: 42px;
    box-shadow: 0 0 15px #000000;
}

.header {
    height: 170px;
    width: 1002px;
    background-color: white;
    z-index: 2;
}

.logo {
    position: absolute;
    height: 164px;
    width: 283px;
    margin-left: 90px;
    margin-top: 5px;
}

.contacts {
    font: 12px 'Tahoma';
    color: #6eacc0;
    float: right;
    padding-right: 35px;
    padding-top: 15px;

}

.asia {
    float: left;
    position: absolute;
    z-index: 1;
    padding-top: 110px;
    padding-left: 102px;
    font: 12px 'Tahoma';
    color: #009999;
}

.countries {
    list-style: none;
    height: 55px;
    margin-right: 24px;
    padding-top: 100px;
}

.countries li {
    float: right;
    margin-right: 13px;
}

.countries li a {
    display: block;
    text-align: center;
    padding-top: 44px;
    background-position: center top;
    background-repeat: no-repeat;
    height: 55px;
    font: 10px 'Tahoma';
    min-width: 55px;
}

.countries .india a {
    background-image: url("../img/india.png");
}

.countries .nepal a {
    background-image: url("../img/nepal.png");
}

.countries .tibet a {
    background-image: url("../img/tibet.png")
}

.countries .butan a {
    background-image: url("../img/butan.png");
}

.countries .shrilanka a {
    background-image: url("../img/srilanka.png");
}

.countries .maldivi a {
    background-image: url("../img/maldiv.png");
}

.shrilanka li {
    margin-right: 0;
    width: 998px;
}

.header_img {
    position: absolute;
    z-index: 2;
    width: 1002px;
}

/*Главное меню*/

.main_menu {
    width: 1002px;
    margin-top: 238px;
    position: absolute;
    background-color: #353535;
    z-index: 1;
}

.main_menu li {
    display: inline-block;
    padding-right: 55px;
    padding-left: 0px;
    position: relative;
    text-align: center;
    list-style: none;
    background: #343434;
    height: 30px;
    line-height: 30px;
}

.main_menu li:first-child {
    padding-left: 60px;
}

.main_menu a {
    text-decoration: none;
    font: 14px 'Tahoma';
    color: #ffffff;
    height: 100%;
    width: 100%;
}

.main_menu li ul {
    display: none;
    position: absolute;
    width: 160px;

}

.main_menu li:hover ul {
    display: block;
    position: absolute;
    left: -8px;
}

.menu2 li {
    padding-left: 5px;
    padding-right: 40px;
    margin-right: 10px;
}

.menu2 li:first-child {
    padding-left: 5px;
    padding-right: 40px;
    margin-right: 10px;
}

.triangle {
    vertical-align: middle;
    margin-left: 5px;
}

/*Content*/

.container_content {
    margin-top: 268px;
    width: 1000px;
    height: 550px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: stretch;
    margin-bottom: 30px;
}

.left_column {
    width: 210px;
    order: 1;
    background-color: #edeef0;
    border: 1px solid #c7cacf;
}

.center_column {
    order: 2;
}

.right_column {
    width: 210px;
    order: 3;
    background-color: #edeef0;
    border: 1px solid #c7cacf;
    height: 547px;
}

.info {
    font: 18px 'Tahoma';
    font-weight: bold;
    color: #424c43;
    text-align: center;
    padding-bottom: 7px;
    padding-top: 7px;
}

.left_column_text {
    font: 14px 'Tahoma';
    color: #333333;
    padding-right: 17px;
    padding-left: 17px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.news {
    font: 18px 'Tahoma';
    font-weight: bold;
    color: #424c43;
    text-align: center;
    padding-bottom: 7px;
    padding-top: 7px;
}

.right_column_text {
    font: 14px 'Tahoma';
    color: #333333;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 17px;
    padding-left: 17px;
}

.copyright {
    margin: 0 auto;
    width: 240px;
    color: #fff;
    font: 12px 'Tahoma';
    margin-top: 10px;
    margin-bottom: 10px;
}