* {
    margin: 0;
    padding: 0;
}

.site {
    width: 1000px;
    height: 1263px;
    margin-left: 14%;
    margin-right: 14%;
    background-color: olivedrab;
}

.header {
    height: 170px;
    width: 1000px;
    background-color: white;
    margin-top: 30px;
}

.logo {
    position: absolute;
    height: 164px;
    width: 283px;
    margin-left: 90px;
}

.contacts {
    float: right;
    padding-right: 35px;
    padding-top: 15px;

}

.asia {
    float: left;
    position: absolute;
    z-index: 1;
    padding-top: 110px;
    padding-left: 102px;
}

.countries {
    position: absolute;
    margin: auto;
    padding-top: 100px;
    padding-left: 630px;
}

.countries_url {
    position: relative;
    vertical-align: bottom;
}

.india {
    display: inline-block;
}

.nepal {
    display: inline-block;
}
