@import url('https://fonts.googleapis.com/css?family=Open+Sans');
* {
    margin:0;
    padding:0;
}
.container-upper-menu {
    position: absolute;
    width: 966px;
    height: 40px;
    margin-top: 130px;
    margin-left: 50px;
    margin-right: 50px;
    background: linear-gradient(to top, #464545, #5d5d5d);
}

.upper-menu {
    display: inline-block;
    vertical-align: middle;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    padding-left: 50px;
    padding-right: 50px;
    line-height: 40px;
}

.upper-menu a {
    text-decoration: none;
    font: 15px 'Open Sans';
    font-weight: semi-bold;
    color: #ffffff;
}

.upper-menu:hover {
    color: white;
    background: #454545;
    border-left: 1px solid #838383;
    border-right: 1px solid #838383;
}

.left_menu {
    width: 240px;
    float: left;
    display: block;
    margin-left: 50px;
    margin-top: 40px;
}

.left_menu a {
    display: block;
    text-decoration: none;
    font: 13px 'Open Sans';
    color: #656363;
    border-left: 1px solid #c8c8c8;
    border-right: 1px solid #c8c8c8;
    border-bottom: 1px solid #c8c8c8;
    padding: 8px 14px;
}

.left_menu li:first-child {
    border-top: 1px solid #c8c8c8;
}
.left_menu a:hover {
    padding-left: 30px;
}

.content {
    position: absolute;
    height: 400px;
    margin-top: 170px;
}

.site {
    position: relative;
    width: 1060px;
    height: 930px;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 6px #dbdbdb;
}

.logo {
    margin-top: 40px;
    margin-left: 50px;
}

li {
    list-style-type: none;
}

.bycicle {
    width: 500px;
    display: block;
    float: left;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 85px;
    padding-left: 88px;
    margin-right: 0px;
    margin-left: 50px;
    margin-top: 40px;
    margin-bottom: 40px;
    border: 1px solid #c8c8c8;
}

.lorem {
    width: 680px;
    height: 244px;
    padding-right: 43px;
    float: right;
    font: 13px 'Open Sans'

}

.container_footer {
    height: 40px;
    width: 967px;
    background-color: #e1e1e1;
    margin-top: 830px;
    margin-bottom: 60px;
    margin-left: 50px;
    position: absolute;
}

.footer_menu {
    display: inline-block;
    vertical-align: middle;
    font: 10px 'Open Sans';
    color: #a8a8a8;
    background: #e1e1e1 ;
    padding-left: 50px;
    padding-right: 50px;
    line-height: 40px;
}

.footer_menu a {
    text-decoration: none;
    font: 13px 'Open Sans';
    color: #2c2c2c;
}

.footer_menu a:hover {
    text-decoration: underline;
}

.rights {
    display: inline-block;
    position: absolute;
    z-index: 1;
    float: right;
    margin-left: 150px;
    font: 13px 'Open Sans';
    line-height: 40px;
}


