<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JS_15,16</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body class="page">
<div class="searchBlock">
    <form action="" >
        <input type="text" id = searchInput value="" onsubmit="search()">
        <input type="button" id="btn" value="Поиск" >
        <input type="button" id="clear" value="Очистить" >
    </form>
</div>

<div id="root"></div>

<script type="tpl/lodash" id="article">
    <article class="article">
      <span><%- user %></span>
      <img src="<%- img %>" alt="" />
      <a href="<%- onPage %>" target="_blank">On page-></a>
    </article>
  </script>

<script src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js"></script>
<script src="js/script.js"></script>
</body>
</html>