* {
    margin: 0;
    padding: 0;
}

.wrapper {
    margin: 0 auto;
    width: 1215px;
}

@font-face {
    font-family: 'helveticaneue';
    src: url('../fonts/helveticaneuecyr-medium-webfont.woff2') format('woff2'),
    url('../fonts/helveticaneuecyr-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*Верхнее меню*/

.upper_menu {
    background-color: #085698;
}

.upper_menu li {
    display: inline-block;
    list-style: none;
    text-align: center;
}

.upper_menu li:first-child {
    margin-left: 430px;
}

.upper_menu a {
    display: block; /*чтоб можно было нажимать на всю кнопку*/
    text-decoration: none;
    font: 14px 'helveticaneue';
    color: #60b5ed;
    height: 32px;
    line-height: 32px; /*центрировал текст по центру строки*/
    padding-left: 13px;
    padding-right: 13px;
}

.flag {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: -4px;
    padding-right: 10px;
}

.ofertas a { /*отдельный цвет*/
    color: #ffffff;
    border-left: 1px solid #56a2dc;
}

.entrar {
    background: linear-gradient(to bottom, #4faedb, #2e7ac4);
}

.entrar a {
    color: #ffffff;
}

.underline {
    text-decoration: underline;
    display: inline-block;
}

.upper_menu li:hover {
    background-color: #4eabda;
}

.upper_menu a:hover {
    color: #ffffff;
}

/*Центральное меню*/

.container_main_menu {
    background-image: url("../img/background.jpg");
    height: 1030px;
    width: 1216px;
    display: flex;
    min-height: 100%;
    align-items: center;
}

.main_menu { /*главное меню*/
    height: 610px;
    width: 560px;
    background-color: rgba(0, 0, 0, .5); /*прозрачность*/
    margin: 0 auto;
    position: relative; /*материнский блок*/
}

.header {
    font: 24px "helveticaneue";
    color: #ffffff;
    text-align: center;
    height: 60px;
    line-height: 60px;
    border-bottom: 3px solid #c1c7b9; /*нижняя полоска заголовка*/
}

.facebook {
    height: 35px;
    width: 275px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 20px;
}

button { /*чтоб блок не вылазил за границы картинки*/
    height: 35px;
    border: 0;
}

.line1 {
    position: absolute;
    border-bottom: 1px solid #cccccc;
    width: 119px;
    margin-left: 144px;
    margin-top: 10px;
}

.line2 {
    position: absolute;
    margin-left: 297px;
    border-bottom: 1px solid #cccccc;
    width: 120px;
    margin-top: 10px;
}

.ou_text {
    position: absolute;
    left: 270px;
    color: #999999;
}

.main_form { /*меню со строками для ввода*/
    margin-top: 60px;
    margin-left: 143px;
}

.text_window { /*текстовое меню ввода*/
    width: 255px;
    height: 35px;
    line-height: 35px;
    background-color: #222121;
    color: #cccccc;
    padding-left: 17px;
    padding-right: -17px;
    font: 14px "helveticaneue";
    border: 0;
}

.text_window:hover { /*подсветка текстового меню ввода при наведении*/
    background-color: #336699;

}

input.text_window:hover { /*тень при наведении на текстовое меню ввода*/
    box-shadow: 0 0 15px #6699cc;
}

.user_form { /*каждое конкретное текстовое меню ввода*/
    padding-top: 8px;
    padding-bottom: 8px;
}

.checkbox_block { /*все поле с галочкой*/
    color: #cccccc;
    margin-top: 10px;
}

.checkbox_input { /*ячейка, в которую ставят галочку*/
    margin-right: 8px;
}

.create-account { /*картинка create account*/
    margin-top: 15px;
    margin-left: 55px;
}

.privacy { /*текст приватность*/
    color: #cccccc;
    font: 11px "helveticaneue";
    text-align: center;
    width: 310px;
    margin-left: -15px;
    margin-top: 10px;
}