* {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
    margin-top: 100px;
}

td {
    height: 30px;
    width: 30px;
    border: 10px solid black;
}

.invisible {
    empty-cells: hide;
    border-right: 2px solid transparent;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
}

.invisible2 {
    border-right: 2px solid transparent;
    border-left: 2px solid transparent;
    border-bottom: 2px solid transparent;
}

.red {
    background: #ff6633;
}

.yellow {
    background: #ffff66;
}

.black {
    background: black;
}

.blue {
    background: #006699;
}

.border_bottom_hidden {
    border-bottom: 10px solid transparent;
}