@media screen and (min-width: 481px) and (max-width: 768px) {
    .home_all_screens {
        display: none;
    }

    .upper_menu-items {
        margin: 0 auto;
        display: block;
        width: 250px;
        text-align: center;
    }

    .upper_menu-items a {
        text-decoration: none;
        padding-bottom: 10px;
        padding-top: 10px;
        color: white;
        font: 24px 'gothicregular';
        line-height: 46px;
    }

    .upper_menu-items li {
        list-style: none;
        background-color: rgba(72, 59, 78, 0.8);
        height: 46px;
        border-bottom: 1px solid #36283e;
        border-top: 1px solid #513d58;
    }

    .upper_menu-links {
        display: none;
        position: absolute;
        width: 250px;
        margin-top: -1px;
    }

    .upper_menu-links li {
        width: 250px;
    }

    .home-button span {
        border-bottom: 2px solid #edbfff;
    }

    .home {
        border-radius: 7px;
    }

    .home:hover {
        border-radius: 7px 7px 0 0;
    }

    .upper_menu-links-last {
        border-radius: 0 0 7px 7px;
    }

    .upper_menu-items li:hover .upper_menu-links {
        display: block;
    }

    .upper_menu-items li:hover {
        background-color: rgba(41, 32, 47, 0.8);
        border-bottom: 2px solid #edbfff;
    }

    .slider {
        height: 260px;
        padding-top: 28px;
        margin-top: 20px;
        background-color: rgba(106, 101, 115, 0.3);
    }

    .iphone {
        display: block;
        height: 220px;
    }

    .iphone img {
        height: 260px;
    }

    .slider-rounds {
        padding-top: 24px;
        margin-left: 41%;
    }

    .slider-inner-round-1 {
        display: none;
    }
    /*About company*/
    address {
        height: 550px;
    }

    .longer-text {
        visibility: visible;
    }

    .longer-text-768 {
        visibility: visible;
    }

    .read-more {
        margin-top: 20px;
    }

    .more-post {
        margin-left: 71%;
    }

    /*CARD*/
    .card {
        height: 315px;
    }

    .longer-card-text {
        visibility: visible;
    }

    .slider_rounds {
        padding-top: 130px;
    }

    .year {
        visibility: visible;
    }

    .container_updates {
        width: 335px;
    }

    /*LOGOS*/
    .container_logos {
        display: none;
    }

    .container_logos_480 {
        display: block;
        width: 350px;
        margin: 0 auto;
        margin-top: 37px;
        padding-bottom: 42px;
    }

    /*NEWS CATEGORIES*/
    .container_news_categories {
        display: block;
        background-color: #ececec;
        padding-bottom: 90px;
    }

    .news_categories {
        display: flex;
        flex-direction: column;
        width: 450px;
        margin: 0 auto;
        padding-top: 65px;
    }

    .news_categories p {
        font: 24px 'gothicregular';
        color: #454545;
        margin-bottom: 10px;
    }

    .news_categories-text span {
        font: 16px 'Open Sans';
        color: #787878;
    }

    .news_categories_first {
        display: flex;
        flex-direction: column;
        width: 450px;
        padding-top: 85px;
        margin: 0 auto;
    }

    .news_categories_second {
        display: flex;
        flex-direction: column;
        width: 450px;
        padding-top: 65px;
        margin: 0 auto;
    }

    .news_categories_first p {
        font: 24px 'gothicregular';
        color: #454545;
        margin-bottom: 10px;
    }

    .news_categories_second p {
        font: 24px 'gothicregular';
        color: #454545;
        margin-bottom: 10px;
    }

    .logos {
        box-shadow: none;
    }

    /*FOOTER*/
    .footer_menu {
        display: flex;
        justify-content: space-between;
        width: 450px;
        margin: 0 auto;
        padding-top: 50px;

    }

    .footer_menu a {
        font: 20px 'gothicregular';
        color: white;
        text-decoration: none;
        text-shadow: 1px 1px 1px #58585d;
    }
}

