@media screen and (min-width: 769px) and (max-width: 960px) {
    header {
        height: 800px;
    }

    .container_header {
        width: 768px;
    }

    .header-txt {
        margin-left: 0;
    }

    .home_all_screens {
        display: none;
    }

    .upper_menu_768px {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
    }

    .upper_menu_768px a {
        font: 24px 'gothicregular';
        color: #ffffff;
        text-decoration: none;
        text-shadow: 1px 1px 1px #575061;
    }

    /*SLIDER*/
    .slider {
        height: 400px;
        background-color: rgba(106, 101, 115, 0.3);
        margin-top: 80px;
        padding-top: 0;
    }

    .slider_text_under {
        display: block;
        font: 16px 'Open Sans Light';
        color: #ffffff;

    }

    .slider_text {
        width: 280px;
    }

    .iphone {
        display: block;
        margin-bottom: 20px;
    }

    .iphone img {
        height: 420px;
    }

    .slider-rounds {
        padding-top: 40px;
        margin-left: 44%;
    }

    /*ABOUT OUR COMPANY*/
    .longer-text {
        display: none;
    }

    .longer-card-text {
        display: none;
    }

    .longer-text-768 {
        visibility: visible;
    }

    .container_address {
        display: flex;
        justify-content: space-between;
        padding-top: 80px;
    }

    .address-item {
        width: 200px;
    }

    .address-item-img {
        margin-right: -3px;
    }

    .address-item-img-second {
        margin-right: -3px;
    }

    .address-item-img-third {
        margin-right: -3px;
    }

    .about-company p {
        width: 100%;
    }

    .container_cards_updates {
        display: flex;
    }

    .container_cards {
        width: 350px;
        margin-right: 60px;
        padding: 0;
    }

    .card {
        width: 315px;
    }

    .container_updates {
        margin: 0;
    }

    article {
        display: flex;
        justify-content: space-around;
        padding-top: 100px;
        height: 490px;
    }

    .slider_rounds {
        display: none;
    }

    .slider_rounds-768 {
        display: flex;
        justify-content: center;
        margin-left: 10%;
        margin-top: 25px;
    }

    .card-text {
        height: 179px;
    }

    /*LOGOS*/
    .container_logos {
        display: flex;
        justify-content: space-around;
        width: 100%;
        padding-top: 27px;
        height: 120px;
    }

    .dg {
        margin: 0;
    }

    .awsm {
        margin: 0;
    }

    .rvca {
        margin: 0;
    }

    /*NEWS CATEGORIES*/
    .container_news_categories {
        display: flex;
        justify-content: space-between;
        background-color: #ececec;
        padding-bottom: 80px;
        padding-left: 60px;
    }

    .news_categories {
        display: flex;
        flex-direction: column;
        padding-top: 65px;
        margin-right: 60px;
    }

    .news_categories_first {
        display: flex;
        flex-direction: column;
        padding-top: 65px;
        margin-right: 60px;
    }

    .news_categories_second {
        display: flex;
        flex-direction: column;
        padding-top: 65px;
        margin-right: 60px;
    }

    .news_categories_first p {
        font: 24px 'gothicregular';
        color: #454545;
        margin-bottom: 10px;
    }

    .news_categories_second p {
        font: 24px 'gothicregular';
        color: #454545;
        margin-bottom: 10px;
    }

    .news_categories p {
        font: 24px 'gothicregular';
        color: #454545;
        margin-bottom: 10px;
    }

    .news_categories-text span {
        font: 16px 'Open Sans';
        color: #787878;
    }

    .news_categories-text-768 {
        visibility: hidden;
    }

    /*FOOTER*/
    .footer_menu {
        display: flex;
        justify-content: space-between;
        width: 450px;
        margin-left: 60px;
        padding-top: 50px;

    }

    .footer_menu a {
        font: 20px 'gothicregular';
        color: white;
        text-decoration: none;
        text-shadow: 1px 1px 1px #58585d;
    }

    .authors {
        margin-right: 60px;
    }
}
