@media screen and (min-width: 961px) {
    .home_all_screens {
        display: none;
    }

    header {
        height: 850px;
    }

    .pingbuller span {
        margin-left: 0;
    }

    .container_header {
        width: 960px;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
    }

    .upper_menu_768px {
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
        margin-left: 328px;
        width: 475px;
    }

    .upper_menu_768px a {
        font: 24px 'gothicregular';
        color: #ffffff;
        text-decoration: none;
        text-shadow: 1px 1px 1px #575061;
    }

    .slider {
        height: 400px;
        background-color: rgba(106, 101, 115, 0.3);
        margin-top: 170px;
        padding-top: 0;
    }

    .iphone {
        display: block;
        margin-bottom: 20px;
    }

    .iphone img {
        height: 420px;
    }

    .slider_text {
        width: 500px;
    }

    .slider_text_top {
        font: 60px 'gothicregular';
    }

    .slider_text_bottom {
        font: 32px 'gothicregular';
        color: #edbfff;
    }

    .slider_text_under {
        visibility: visible;
        font: 18px 'Open Sans Light';
        color: #ffffff;
    }

    .slider_text_under-960 {
        visibility: visible;
        font: 18px 'Open Sans Light';
        color: #ffffff;
    }

    .slider-rounds {
        padding-top: 90px;
        margin-left: 75%;
    }

    /*ABOUT COMPANY*/
    .container_address {
        display: flex;
        justify-content: space-between;
        padding-top: 80px;
    }

    .img_320px {
        display: none;
    }

    .longer-text {
        visibility: visible;
    }

    .longer-text-768 {
        visibility: visible;
    }

    .container_cards {
        width: 350px;
        margin: 0;
        padding: 0;
    }

    .card {
        width: 315px;
    }

    .container_updates {
        margin: 0;
    }

    article {
        display: flex;
        justify-content: space-around;
        padding-top: 100px;
        height: 490px;
    }

    .slider_rounds {
        display: none;
    }

    .slider_rounds-768 {
        display: flex;
        justify-content: center;
        margin-left: 10%;
        margin-top: 25px;
    }

    .card-text {
        height: 179px;
    }

    /*LOGOS*/
    .container_logos {
        display: flex;
        justify-content: space-around;
        width: 100%;
        padding-top: 27px;
        height: 120px;
    }

    .dg {
        margin: 0;
    }

    .awsm {
        margin: 0;
    }

    .rvca {
        margin: 0;
    }

    /*NEWS CATEGORIES*/
    .container_news_categories {
        display: flex;
        justify-content: space-between;
        background-color: #ececec;
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .news_categories_first {
        display: none;
    }

    .news_categories_second {
        margin-right: 60px;
    }

    .news_categories_pingbuller {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        margin-right: 55px;
    }

    .news_categories_pingbuller-header-black {
        font: 48px 'gothicregular';
        color: #454545;
    }

    .news_categories_pingbuller-header-gray {
        font: 48px 'gothicregular';
        color: #b9b9b9;
    }

    .news_categories_pingbuller-copyright {
        font: 16px 'Georgia';
        color: #c5c5c5;
        font-style: italic;
    }

    .news_categories_pingbuller-text {
        font: 16px 'Open Sans Light';
        color: #787878;
    }

    .news_categories-480px {
        display: none;
    }

    .news_categories-960px {
        display: block;
        font: 30px 'gothicregular';
        color: #454545;
    }

    .news_categories p {
        font: 30px 'gothicregular';
        color: #454545;
    }

    .news_categories-text span {
        font: 16px 'Open Sans Light';
        color: #787878;
    }




}