* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'gothicregular';
    src: url('../font/leaguegothicregular-webfont.woff2') format('woff2'),
    url('../font/leaguegothicregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: MyriadPro;
    src: url('../font/MyriadProRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

header {
    background-image: url("../img/header-img.jpg");
    background-position: center top;
    height: 517px;
    border-bottom: 2px solid #36283d;
}

.container_header {
    width: 320px;
    margin: 0 auto;
    padding-top: 70px;
}

.header-txt {
    font: 300 48px 'gothicregular';
    color: #ffffff;
    text-shadow: 0 2px 2px #a7959c;
    margin-left: 25%;

}

.header-txt-color {
    font: 300 48px 'gothicregular';
    color: #51395b;
}

.upper_menu-items {
    display: none;
}

.upper_menu_768px {
    display: none;
}

.home_all_screens {
    margin: 0 auto;
    width: 48px;
    border-bottom: 2px solid #edbfff;
    margin-top: 20px;
}

.home_all_screens a {
    font: 300 24px 'gothicregular';
    color: white;
    text-decoration: none;
    padding-left: 5px;
}


.slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 155px;
    height: 60px;
}

.slider_text {
    height: 60px;
    width: 200px;
}

.slider img {
    height: 34px;
}

.slider_text_top {
    font: 300 36px 'gothicregular';
    color: #ffffff;
    text-shadow: 0 2px 2px #625c6b;
}

.slider_text_bottom {
    font: 500 18px 'gothicregular';
    color: #edbfff;
    text-shadow: 0 2px 2px #625c6b;
}

.slider_text_under {
    visibility: hidden;
}

.slider_text_under-960 {
    visibility: hidden;
}

.iphone {
    display: none;
}

.slider-rounds {
    padding-top: 110px;
    margin-left: 37%;
}

/*about company*/
address {
    background: #735080;
}

.container_address {
    width: 88%;
    margin: 0 auto;
    padding-top: 70px;
}

.address-item {
    display: flex;
}

.address-item img {
    height: 25px;
}

.about-company {
    margin-left: 25px;
    width: 82%;
}

.about-company-header {
    font: 24px 'gothicregular';
    color: #ffffff;
    text-shadow: 1px 1px 1px #14191c;
}

.about-company p {
    font: 16px 'Open Sans Light';
    color: white;
    text-shadow: 1px 1px 1px #14191c;
    width: 88%;
}

.longer-text {
    font: 16px 'Open Sans Light';
    color: white;
    text-shadow: 1px 1px 1px #14191c;
    visibility: hidden;
}

.longer-text-768 {
    font: 16px 'Open Sans Light';
    color: white;
    text-shadow: 1px 1px 1px #14191c;
    visibility: hidden;
}

.read-more {
    text-align: right;
    margin-left: 20px;
}

.read-more span {
    font: 24px 'gothicregular';
}

.last {
    margin-bottom: 65px;
}

.read-more span:hover {
    text-shadow: white 0 0 10px;
}

/*face slider+updates*/
article {
    background: #f9f9f9;
    border-bottom: 2px solid #e6e6e6;
}

.container_cards {
    width: 82%;
    height: 275px;
    margin: 0 auto;
    padding-top: 70px;
}

.card {
    width: 82%;
    height: 275px;
    background: #ffffff;
    margin-left: 10%;
}

.card img {
    position: absolute;
    margin-left: -25px;
    margin-top: 20px;
}

.card-header {
    padding-top: 27px;
    margin-left: 13%;
    font: 24px 'gothicregular';
    color: #454545;
}

.start-here {
    margin-top: 6px;
    margin-left: 13%;
}

.start-here span {
    font: 24px 'gothicregular';
    color: #edbfff;
}

.card-text {
    margin-top: 14px;
    margin-left: 13%;
    width: 80%;
    font: 16px 'Open Sans Light';
    color: #454545;
}

.longer-card-text {
    visibility: hidden;
}

.slider_rounds {
    margin-left: 41%;
    padding-top: 90px;
}

.slider_rounds-768 {
    display: none;
}

/*UPDATES*/
.container_updates {
    width: 320px;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    margin-bottom: 95px;
}

.container_updates:first-child {
    justify-content: flex-start;
}

.recent p {
    font: 30px 'gothicregular';
    color: #454545;
}

.round_icon1 {
    width: 45px;
    height: 45px;
    border-radius: 20px;
    background-image: url("../img/icon-background.png");
    background-position: 110px 0;
    margin-right: 20px;
}

.round_icon2 {
    width: 45px;
    height: 45px;
    border-radius: 20px;
    background-image: url("../img/icon-background.png");
    background-position: 110px 70px;
    margin-right: 20px;
}

.round_icon3 {
    width: 45px;
    height: 45px;
    border-radius: 20px;
    background-image: url("../img/icon-background.png");
    background-position: 149px 45px;
    margin-right: 20px;
}

.update {
    display: flex;
    justify-content: flex-start;
    width: 320px;
    margin-top: 20px;
    margin-right: 4%;
}

.update-header {
    font: 900 16px 'Open Sans';
}

.posted-by {
    font: 16px 'Open Sans Light';
}

.more-post {
    text-align: right;
    font: 18px 'gothicregular';
    margin-top: 25px;
    width: 93px;
    margin-left: 59%;
}

.year {
    visibility: hidden;
}

/*LOGOS*/
.logos {
    background: #f9f9f9;
    box-shadow: 0 2px 2px #504f56;
}

.container_logos {
    width: 320px;
    margin: 0 auto;
    padding-top: 55px;
}

.dg {
    margin-left: 19%;
}

.awsm {
    margin-top: 60px;
    margin-left: 21%;
}

.rvca {
    margin-top: 60px;
    padding-bottom: 100px;
    margin-left: 13%;
}

.container_logos_480 {
    display: none;
}

.container_news_categories {
    display: none;
}

.news_categories_pingbuller {
    display: none;
}

.news_categories-960px {
    display: none;
}

footer {
    background-image: url("../img/footer-img.jpg");
    background-position: bottom center;
    height: 200px;
}

.footer_menu {
    display: none;
}

.designed {
    font: 12px 'Open Sans Light';
    color: white;
}

.pingbull {
    font: 700 13px 'MyriadPro';
    color: white;
}

.authors {
    padding-top: 40px;
    margin: 0 auto;
    width: 140px;
}

